<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test0825">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_test2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_test2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_loading"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAcPSc8WJIeb85x362mPWwP9tI4DMBb6Kc" />
    </application>

</manifest>