<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thefacoteam.thefaco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo1029_foreground"
        android:label="The FACO"
        android:roundIcon="@mipmap/ic_logo1029_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.thefacoteam.thefaco.Reason" />
        <activity android:name="com.thefacoteam.thefaco.Reason2"/>
        <activity android:name="com.thefacoteam.thefaco.EggActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDboufDm5Kqn7ORKEYas_JVfmKTVm0d7ko" />

        <activity android:name="com.thefacoteam.thefaco.map_around_busstop2"/>

        <activity android:name="com.thefacoteam.thefaco.map_around_busstop" />
        <activity android:name="com.thefacoteam.thefaco.result" />
        <activity android:name="com.thefacoteam.thefaco.BaseActivity" />
        <activity android:name="com.thefacoteam.thefaco.BaseActivity2" />
        <activity android:name="com.thefacoteam.thefaco.pathSetting_start" />
        <activity android:name="com.thefacoteam.thefaco.pathSetting_end" />
        <activity android:name="com.thefacoteam.thefaco.pathset_mapshow_start" />
        <activity android:name="com.thefacoteam.thefaco.pathset_mapshow_end" />
        <activity android:name="com.thefacoteam.thefaco.path_base" />
        <activity android:name="com.thefacoteam.thefaco.busBtn.btnEvent_8100" />
        <activity android:name="com.thefacoteam.thefaco.busBtn.btnEvent_M4102" />
        <activity android:name="com.thefacoteam.thefaco.MainActivity" />
        <activity android:name="com.thefacoteam.thefaco.busBtn.btnEvent_3007"/>
        <activity android:name="com.thefacoteam.thefaco.busBtn.btnEvent_7000"/>
        <activity
            android:name="com.thefacoteam.thefaco.splashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>