<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practice">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_blue_thefaco"
        android:roundIcon="@mipmap/ic_blue_thefaco_round"
        android:label="The FACO"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDboufDm5Kqn7ORKEYas_JVfmKTVm0d7ko" />

        <activity android:name=".practice0829"/>

        <activity android:name=".pathSetting_start"/>
        <activity android:name=".pathSetting_end"/>
        <activity android:name=".pathset_mapshow_start"/>
        <activity android:name=".pathset_mapshow_end"/>
        <activity android:name=".subActivity" />
        <activity android:name=".showActivity" />
        <activity android:name=".mapActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".popupActivity" android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".splashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>